# Gradle
.gradle/
build/
gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
local.properties

# APK / 构建产物
app/build/
app/release/
*.apk
*.aab
*.keystore
*.jks
keystore.properties

# 日志
*.log